<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> If you have any suggestions, queries or questions related to our work feel free to contact us through email </p>
    <p><a href="mailto:kaushal.vivek25@gmail.com">Send email</a></p>

<%- include("partials/footer"); -%>
