<%- include("partials/header"); -%>
<p class="fss">register yourself or login if you have already registered</p>

  <a href="/register"><button class="btn btn-primary" type="submit" name="button">Register</button></a>
  <a href="/login"><button class="btn btn-primary" href="/login" type="submit" name="button">Login</button></a>

<%- include("partials/footer"); -%>
